<div class="book">
  <h3><%= book.title %></h3>
  <small>ISBN: <%= book.isbn %></small>

  <h4>Ratings</h4>
  <ul class="unstyled ratings">
    <% book.ratings.each do |rating| %>
      <%= render rating %>
    <% end %>
  </ul>
</div>

