@import "bootstrap";

body {
  padding-top: 80px;
}

.links {
  margin-top: 10px;

  a {
    margin-left: 10px;
  }
}

.book {
  border-bottom: 1px solid #d4d4d4;
}

h3 {
  margin-bottom: 0;
}

.rating {
  display: inline-block;
  padding-left: 3px;

  label {
    display: inline;
    padding-bottom: 7px;
  }

  .submit-rating {
    margin-left: 10px;
  }
}
